*.pyc
*.bak
*.zip
*.rar
*.7z
*.mp3
*.wav
*.sublime-workspace
.hg/
build/
*.hgignore
*.hgtags
*dist/
*.egg-info/
traceback.log
__pycache__/
*.log
pipinfo/
*.yml
*.cast

*.html

pypi_info/gui_qt5.ini
pypi_info/icon.png.0