include README.md
recursive-include pipinfo *.py
include pipinfo/__version__.py
exclude pipinfo/pipinfo1.py
exclude pipinfo/batmaker.py
exclude pipinfo/batmaker.ini
exclude pipinfo/mpath.py
exclude __version__.py
